.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 5px;
}

input,
input::-webkit-input-placeholder {
	font-size: 13px;
	padding-top: 5px;
	margin-bottom: 10px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.light {
	font-weight: normal;
	font-size: 0.9em;
	color: #999;
}